<div class="row">
  <div class="col-lg-12">
    <div class="col-lg-12 col-md-12">
      <center>
        <div id="keywords01">
          <span>Refresh</span> Rediscover Realize Reach 
        </div>
      </center>
    </div>
  </div>
</div>
<div class="col-lg-12">
  <div class="col-lg-12 col-md-12">
    <div class="row">
      <center>  
        <div id="keywords02">
          Illuminate <span id = "enterance"><a href=/posts >"I"</a></span> Idea rethInk Identity 
        </div>
      </center>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <center>
        <div id="keywords03">
        Assist Ambition <span>Allow</span> Aid Achieve <br>
      </div>
    </center>
  </div>
</div>
<div class="row">
  <div class="col-lg-12 col-md-12">
    <center>  
      <div id="keywords04">
        Help Hold Happiness Heart <span>Hope</span> <br>
    </center>    
      </div>
  </div>
</div>
    
