<center>
      <div id="keywords01">
        <span>Refresh</span> Rediscover Realize Reach 
      </div>
      <div id="keywords02">
        Illuminate <span><a href=/posts >"I"</a></span> Idea rethInk Identity 
      </div>
      <div id="keywords03">
        Assist Ambition <span>Allow</span> Aid Achieve <br>
      </div>
      <div id="keywords04">
        Help Hold Happiness Heart <span>Hope</span> <br>
      </div>
</center>