<div class="comments">
  <div class="comment_header">
    <h2>Comments:</h2>
  </div>
  <div class="comments_list">
    <%= render "comments/list" %>
  </div>
  <div class='comments_form'>
    <%= render "comments/form" %>
  </div>
</div>

<section class="comm">
  <div class="comments">
		<div class="comment-wrap">
			<div class="comment-block">
				<form action="">
				  <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
				</form>
				<div class="bottom-comment">
								
								<ul class="comment-actions">

									<li class="reply">Create</li>
								</ul>
						</div>
		</div>
	</div>
	
<section class="comm"></section>

		<div class="comment-wrap">
			<div class="photo">
				<div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/jsa/128.jpg')"></div>
				</div>
			<div class="comment-block">
			<p class="comment-text"> 코멘트 내용 </p>
						<div class="bottom-comment">
								<div class="comment-date">시간</div>
								<ul class="comment-actions">
										<li class="complain">Complain</li>
										<li class="reply">Reply</li>
								</ul>
						</div>
				</div>
		</div>
  <div>
</section>
