<ul id="applicants_list_<%=@post.id%>">
<% if @post.applicants.size > 0 %>
  <% @post.applicants.each do |a| %>
    <p class="white04"><%= User.find(a.user_id).name %></p>
  <% end %>
<% else %>
  <li class="white02" style="margin-bottom:30px">
    지원자가 없습니다.
  </li>
<% end %>
</ul>