<ul id="applicants_list_<%=@post.id%>">
<% if @post.applicants.size > 0 %>
  <% @post.applicants.each do |a| %>
    <%= User.find(a.user_id).name %>
  <% end %>
<% else %>
  <li>
    지원자가 없습니다.
  </li>
<% end %>
</ul>