<div class="row">
	<nav>
	  <div class="toggleNav">
	    <div class="toggleNavButton"></div>
	  </div>
	  
	  <div id="subnav">
	    <ul>
	      <center>
	      	<li role="presentation" id="nav_mainpage"><a href="/">main page</a></li>
					<% if user_signed_in? %>
						<li role="presentation" id="nav_logout"><a href="/users/sign_out" data-method="delete">log out</a></li>
					<% else %>
						<li role="presentation" id="nav_login"><a href="/users/sign_in">sign in</a></li>
						<li role="presentation" id="nav_signin"><a href="/users/sign_up">sign up</a></li>
					<% end %>
				</center>
	    </ul>
	  </div>
	</nav>
</div>


	
	