<%= render 'basic' %>

<div class="container" style="margin-top:50px;margin-bottom:50px">

<h2 class="white">Play!</h2>
<%= render 'form' %>
<hr class="hrcr">
<%= link_to 'Post', @post, class: 'action-button-sm shadow animate red' %>
<%= link_to 'Back', posts_path, class: 'action-button-sm shadow animate green' %>
    

</div>
