// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .container {
  
//  display: -webkit-flex;
//  display: flex;
//  height: 100%;
//  width: 100%;
  
// }




#bg {
  background-color: #313145;
}

#keywords01 {
  margin-top: 21%;
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -4.3px;
  line-height: 45px;
}

#keywords02 {
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -3.1px;
  line-height: 45px;
}

#keywords03 {
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -4.45px;
  line-height: 45px;
}

#keywords04 {
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -3.3px;
  line-height: 45px;
}

span {
  color:#fef17e ;
}

a {
  color:#fef17e ;
  text-decoration: none;
}

a:hover {
  color: white;
}

#arc_h1 {
  font-family: arial;
  font-size: 100px;
  margin-top: 22%;
  color: white;
}
