// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// 바경 네이비 색

#bg {
  background-color: #313145;
}

// R 단어 라인

#keywords01 {
  margin-top: 21%;
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -4.3px;
  line-height: 45px;
}

// I 단어 라인

#keywords02 {
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -3.1px;
  line-height: 45px;
}

// A 단어 라인

#keywords03 {
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -4.45px;
  line-height: 45px;
}

// H 단어 라인

#keywords04 {
  font-family: arial;
  font-weight: bold;
  color: #5874b0;
  font-size: 50px;
  letter-spacing: -3.3px;
  line-height: 45px;
}

// 키워드 > 노란색

span {
  color:#fef17e ;
}

// "I"에 대한 특성

#enterance a {
  color:#fef17e ;
  text-decoration: none;
  &:visited {
    
  }
  &:hover {
    color: #ffffff;
  }
}



#arc_h1 {
  font-family: arial;
  font-size: 100px;
  margin-top: 22%;
  color: white;
}
